@import "../base/variables";
@import "../base/mixins";

.header{
    padding: 5rem 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet{
        min-height: 70rem;
    }
    
    @include phone{
        padding: 4rem 0;
    }

    @include tablet{
        padding: 3rem;
    }

    @include desktop{
        padding: 2rem;
    }

    &::before{

        content: "";
        background-color: $black;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .6;
    }
    
    .header-content{
        position: relative;

        h1{
            text-align: center;
            color: $white;
            text-transform: uppercase;
            margin-top: 5rem;

            @include tablet{
                margin-top: 10rem;
            }
        }
    }
}

// Header for each page

.header-inicio{
    background-image: url(/img/6799670.webp);
}

.header-us{
    background-image: url("https://cdn.pixabay.com/photo/2016/10/16/23/20/minecraft-1746541_1280.jpg");
}

.header-tutorial{
    background-image: url(/img/background-tutorial.png);
}

.header-gallery{
    background-image: url(/img/background-gallery.jpg);
}