// Variable declaration



// Fonts

$main-font: 'Source Sans Pro', sans-serif;
$second-font: 'Roboto', sans-serif;
$third-font: 'Mukta', sans-serif;

// Media Queries

$phone: 480px;
$tablet: 768px;
$desktop: 1024px;


// Colors 

$primary: #ffafcc;
$secundary: #a2d2ff;
$text-color: #343a40;
$black: #212529;
$mora: #cdb4db;
$pink: #ffc8dd;
$celeste: #bde0fe;
$white: #f8f9fa;
$gray: #ced4da;



// Units

$separacion: 5rem;