// Variable declaration



// Fonts

$main-font: 'Roboto', sans-serif;


// Media Queries

$phone: 480px;
$tablet: 768px;
$desktop: 1024px;


// Colors 

$bg-primary: #ffc8dd;
$text-color: #343a40;
$black: #212529;
$mora: #cdb4db;
$rosa: #ffafcc;
$celeste-claro: #bde0fe;
$celeste: #a2d2ff;
$blanco: #f8f9fa;
$gris: #dee2e6;



// Units

$separacion: 5rem;